body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.charts .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.charts .col-md-5, 
.charts .col-md-2 {
    margin-bottom: 20px;
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 100%; 
}

.genderChart {
    width: 100% !important;
    max-width: 230px; 
    height: auto !important;
}

/* Navbar */
nav {
    background: linear-gradient(90deg, #007bff, #0056b3);
    padding: 15px 0;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbarContainer {
    width: 90%;
    margin: auto;
}
.navheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarBrand img {
    width: 50px;
    height: auto;
}
.hospitalName {
    font-size: 22px;
    font-weight: bold;
}

.userSection {
    display: flex;
    align-items: center;
}

.userSection p {
    margin: 0 10px;
}

.userSection img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.logoutBtn {
    background-color: #1463f7;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.logoutBtn:hover {
    background-color: #4387ec;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

header ul li a i {
    margin-right: 8px;
}

header ul li a:hover {
    color: #ffea00;
}


/* Container */
.mainContainer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    /* min-height: 100vh; */

}

/* Main Content */
.mainContent {
    background-color: #f4f4f4;
    flex: 1;
}
h3 , h2, h1 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
h1{
    margin: 5px;
}

/*cards*/

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    width: 20%;
}
.card-body {
    text-align: center;
}
.card-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-title {
    font-size: 16px;
    color: #777;
}

.animatingNumberCounters {
    font: 800 40px system-ui;
  }


/* tables*/
.btns {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 3px;
}
.btns button {
    width: 200px;
    max-width: 100%; 
}
.addItem:hover{
    background-color:#032861;
}
#clearAllData:hover{
    background-color:#b91206;
}
.table-responsive {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    display: block;
}

#appointmentsTable, #patientsTable, #doctorsTable {
    width: 100%;
    table-layout: fixed; 
}

#appointmentsTable th,
#appointmentsTable td,
#patientsTable th,
#patientsTable td ,
#doctorsTable th,
#doctorsTable td
{
    word-wrap: break-word;
    text-align: center;
    font-size: 14px;
}
.dropdown .btn {
    padding: 5px 10px;
    font-size: 12px;
}
.deleteItem , .editItem{
    padding: 1;
}
@media (max-width: 768px) {
    #appointmentsTable th,
    #appointmentsTable td, 
    #patientsTable th,
    #patientsTable td,
    #doctorsTable th,
    #doctorsTable td 
    {
        font-size: 12px; 
        padding: 3px;
    }

    .table-responsive {
        overflow-x: auto;
    }
}


/* .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
} */

/* 
.tables table {
    width: 100%;
    min-width: 800px; 
    border-collapse: collapse;
}

@media (max-width: 768px) {
    .tables table {
        font-size: 14px;
    }

    .tables .dropdown {
        display: block;
        margin: 5px 0; 
    }

    .tables .btn {
        font-size: 12px;
        padding: 6px 10px;
    }
}


@media (max-width: 575.98px){
    .sidebar {
        width: 23%;
    }
    .mainContent {
        padding: 10px;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
   
}
@media (min-width: 576px) and (max-width: 768px){
    .sidebar {
        width: 27%;
    }
    .card { 
        width: 45%;
        margin-bottom: 10px;
    }
    .card-text {
        font-size: 16px;
        font-weight: bold;
    }
    .card-title {
        font-size: 12px;
        color: #777;
    }
}
@media (min-width: 769px) and (max-width: 991.98px){
    .sidebar {
        width: 15%;
    }
}
@media (min-width: 992px){
    .sidebar {
        width: 13%;
    }
} */
