body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbarContainer {
    display: flex;
    justify-content: space-between;
    background-color: #267ec2;
    padding: 10px 20px;
    align-items: center;
    color: white;
}
.navbarBrand img {
    width: 50px;
    border-radius: 50%;
}

.userName {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userName > div:first-child {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}


.userName p {
    margin-right: 10px;
    /* align-items: center;  */
    text-align: center;
    
}
.userName img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logoutBtn {
    background-color: rgb(119, 191, 219);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}


/* Container */
.mainContainer {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: #1e3d58;
    width: 10%;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}
/* Main Content */
.mainContent {
    background-color: #f4f4f4;
    flex: 1;
    padding: 20px;
}
h3 , h2 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
/*cards*/

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    width: 20%;
}
.card-body {
    text-align: center;
}
.card-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-title {
    font-size: 16px;
    color: #777;
}

.animatingNumberCounters {
    font: 800 40px system-ui;
  }

/* tables*/
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.addPatientBtn{
    background-color: #267ec2;
}

.tables table {
    width: 100%;
    min-width: 800px; 
    border-collapse: collapse;
}

@media (max-width: 768px) {
    .tables table {
        font-size: 14px;
    }

    .tables .dropdown {
        display: block;
        margin: 5px 0; 
    }

    .tables .btn {
        font-size: 12px;
        padding: 6px 10px;
    }
}


/*responsive*/
@media (max-width: 575.98px){
    .sidebar {
        width: 23%;
    }
    .mainContent {
        padding: 10px;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
   
}
@media (min-width: 576px) and (max-width: 768px){
    .sidebar {
        width: 27%;
    }
    .card { 
        width: 45%;
        margin-bottom: 10px;
    }
    .card-text {
        font-size: 16px;
        font-weight: bold;
    }
    .card-title {
        font-size: 12px;
        color: #777;
    }
}
@media (min-width: 769px) and (max-width: 991.98px){
    .sidebar {
        width: 15%;
    }
}
@media (min-width: 992px){
    .sidebar {
        width: 13%;
    }
}